@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap');

::-webkit-scrollbar {
    width: 8px;
    overflow-y: overlay;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: pink;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:rgb(36, 204, 204);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(31, 171, 171);
    border: 50%;
  }

::-moz-selection {
    background-color: purple; 
    color: orange; 
} 
   ::selection { 
    background-color: purple; 
    color: orange; 
}

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;

    min-height: 100vh;
    height: auto;
    background: repeating-linear-gradient(
      -45deg,
      orange 0px,
      orange 55px,
      purple 55px,
      purple 80px
    );
}

.intro {
    text-align: center;
    color: white;
}
.intro h2{
    font-size: 120px;
    font-weight: 500;
}
.intro h3{
    font-size: 30px;
    margin-top:40px;
}
.intro h3 a{
    color: white;
}



nav .nav-item{
   margin-right: 20px; 
   font-size: 25px;
}
nav ul{
    font-size: 20px;
    margin-right: 20px;
}


.navbar-brand{
    margin-left: 30px;;
    font-size: 35px !important;
}
@media screen and (min-width:576px){
    .navbar ul{
        margin-left: 25px;
        font-size: 20px;
    }
    .navbar ul li{
        color: white;
        margin-left: 10px;
        text-align: center;
    }
}

.navbar ul li{
    display: block;
    color: white;
}
.navbar ul li a{
    margin:auto;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
padding: none;
outline: none;
}
.navbar-toggler{
    margin-right: 20px;
}
@media screen and (max-width:576px){
    .navbar ul li{
        padding-left: 20px;
    }
}
.navbar ul .ho:hover{
    transition-duration: 0.5s;
    opacity: 0.75;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }

#innavdesc{
    color: white;
    background-color: red;
    text-align: center;
}
.desc{
    margin-top: 37px;
    color: white;
    text-align: center;
}
.desc ul{
    display: table; 
    margin: 0 auto;
    text-align: left;
    list-style-type: none;
    font-size: 20px;
}
.desc ul li {
    font-size: 21px;
    font-weight: 500;
}
#pls{
    margin-top: 7px;
}